@media only screen and (max-width: 857px) {
    body{
        font-family: 'Heebo', sans-serif;
    
        margin : 0;
    }
    .container--responsive
    {
        max-width: 354px;
    }
    .description
    {
        text-align: center;
    }
    
    .title
    {
        font-size: 32px;
        line-height: 40px;

        text-align: center;
    }
    
    
    .headline
    {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 60px;
    
        color: #21243D;
    
        margin: 0;
    }
    
    .tags--font
    {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
    }
    
    .line
    {
        height: 21px;
        border-right: 1px solid #000000;
    }
    
    .toggle-icon
    {
        display: none;
    }
    
    .navbar
    {
        display: none;
    }
    
    .navbar__list
    {
        display: flex;
        gap: 33px;
    }
    
    .navbar__list--item
    {
        list-style-type: none;
    }
    
    .navbar__link
    {
        text-decoration: none;
    
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 29px;
        text-align: right;
    
        color: #000000;
    }
    
    .navbar__link:hover
    {
        color: #FF6464;
        transition: 0.5s;
    }
    
    
    /* Home page*/
    
    .banner__block
    {
        display: flex;
        flex-direction: column;
        margin-top: 5px;

        order: 2;
    }
    
    .banner
    {
        margin-top: 210px;
    }
    
    .banner__content
    {
        display: flex;
        flex-wrap: wrap;
        gap: 106px;
    }
    
    .banner__link
    {
        width: 208px;
        height: 47px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        color: #FFFFFF;
        background: #FF6464;
        border-radius: 2px;
    
        text-decoration: none;
    
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
    
        margin-top: 38px;
    }
    
    .banner__img
    {
        width: 170.86px;
        height: 170.86px;
        order: 1;
    }
    
    .recent-post
    {
        margin-top: 71px;
    
        width: 100%;
    
        background: #EDF7FA;
    }
    
    .recent-post__heading
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .recent-post__link
    {
        text-decoration: none;
    
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
    
        color: #00A8CC;
    }
    
    .recent-post__content
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .recent-post__block
    {
        width: 354px;
        height: 266px;
        
        background: #FFFFFF;
        border-radius: 4px;
    
        padding: 24px 23px 7px 23px;
        margin-bottom: 32px;
    }
    
    .recent-post__headline
    {
        font-weight: 700;
        font-size: 26px;
        line-height: 38px;
        margin-bottom: 17px;
    }
    
    .recent-post__meta
    {
        display: flex;
        margin-bottom: 17px;
    
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        
        color: #21243D;  
    }
    
    .recent-post__date
    {
        margin-right: 25px;
    }
    
    .recent-post__tags
    {
        margin-left: 25px;
    }
    
    .feature-works
    {
        margin-top: 15px;
    }
    
    .feature-works__block
    {
        display: flex;
        align-items : start;
        justify-content: start;
        gap: 18px;
        
        border-bottom: 1px solid #E0E0E0;
    
        padding-bottom: 17px;
        margin-top: 32px;
    }
    
    .feature-works__link
    {
        text-decoration: none;
    
    }
    
    .feature-works__img
    {
        width: 246px;
        height: 180px;
    
        border-radius: 6px;
    }
    
    .feature-works__item
    {
        display: flex;
        flex-direction: column;    
    }
    
    .feature-works_headline
    {
        font-weight: 700;
        font-size: 30px;
        line-height: 44px;
        margin-bottom: 16px;
    }
    
    .feature-works__meta
    {
        display: flex;
        align-items: center;
        
        gap: 26px;
        margin-bottom: 16px;
    }
    
    .feature-works__date
    {
        width: 62px;
        height: 25px;
    
        background: #142850;
        border-radius: 16px;
        padding-top: 2px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 60px;
    
        color: #FFFFFF;
    }
    
    .blog
    {
        width: 681px;
        margin: 0 auto;
        margin-top: 160px;
    }
    
    .blog__block
    {
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 29px;
        margin-top: 32px;
    }
    
    .blog__link
    {
        text-decoration: none;
    }
    
    .blog__title
    {
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 44px;
    
        color: #21243D;
    
        margin-bottom: 15px;
    }
    
    .blog__meta
    {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }
    
    .blog__date
    {
        padding-right: 20px;
    }
    
    .blog__tags
    {
        padding-left: 20px;
        
        color: #8695A4;
    }
    
    /*Works*/
    .works
    {
        margin: 0 auto;
        width: 682px;
        margin-top: 160px;
        margin-bottom: 109px;
    }
    
    .works__title
    {
        font-weight: 900;
    }
    
    .works__block
    {
        padding-bottom: 48px;
        margin-top: 48px;
    }
    
    /*Work detail*/
    .works-detail
    {
        width: 681px;
        margin: 0 auto;
        margin-top: 148px;
    }
    
    .works-detail__banner
    {
        display: flex;
        flex-direction: column;
        gap : 30px;
        margin-bottom: 54px;
    }
    
    .works-detail__title
    {
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 50px;
    
        color: #21243D;
    
        width:  70%;
        
        margin: 0;
    }
    
    .works-detail__meta
    {
        display: flex;
        gap: 17px;
    }
    
    .works-detail__date
    {
        background: #FF7C7C;
    }
    
    .works-detail__img
    {
        width: 681px;
        height: 468px;
    }
    
    .works-detail__headline1
    {
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 60px;
    
        color: #21243D;
    
        margin: 0;
    }
    
    .works-detail__headline2
    {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 60px;
    
        color: #21243D;
    
        margin: 0;
    }
    
    .works-detail__img--inner
    {
        margin: 30px auto 30px auto;
    }
    
    /* Footer*/
    .footer__content
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 26px;
    
        margin-top: 83px auto 54px auto;
    }
    
    .footer__list
    {
        display: flex;
        gap: 35px;
        padding: 0;
        margin: 0;
    }
    
    .footer__item
    {
        list-style-type: none;
    }
    
    .footer__item--link
    {
        text-decoration: none;
    }
    
    .footer__descripton
    {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    
        margin: 0;
    }
}