@media only screen and (max-width: 857px) {
    .container
    {
        max-width: 33.9em;
    }
    .description--responsive
    {
        text-align: center;
    }

    .title--responsive
    {
        text-align: center;
        box-sizing: border-box;
        padding: 0 17px; 
    }
    
    .title
    {
        font-size: 3.2em;
        line-height: 4rem;
    }
    
    
    .headline
    {
        font-size: 1.8em;
    }
    
    .tags--font
    {
        font-size: 1.6em;
        line-height: 2.4rem;
    }
    
    .toggle-icon
    {
        display: block;
        position: fixed;
        top: 20px;
        right: 18px;
    }
    
    .navbar
    {
        display: none;
    }

    .navbar.show {
        display: block;
        position: fixed;
        background-color: white;
        top: 18px;
        right: 70px;
    }
    
    /* Home page*/
    
    .banner__block
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        order: 2;
    }
    
    .banner
    {
        margin-top: 8.3em;
    }
    
    .banner__content
    {
        align-items: center;
        justify-content: center;
        gap: 4.314em;

        flex-wrap: wrap;
    }
    
    .banner__img
    {
        width: 17.09em;
        height: 17.09em;
        order: 1;
    }
    
    .recent-post
    {
        margin-top: 5.8em;
    
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    
    .recent-post__heading
    {
        justify-content: center;
    }
    
    .recent-post__link
    {
        display: none;
    }
    
    .recent-post__content
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.7em;
    }
    
    .recent-post__block
    {
        width: 35.4em;
        height: 26.6em;
        
        box-sizing: border-box;
        padding: 1.2em 1.9em;
    }
    
    .recent-post__headline
    {
        font-size: 2.2em;
        line-height: 3rem;
    }
    .feature-works
    {
        margin-top: 0;
    }
    
    .feature-works__title
    {
        text-align: center;
    }
    
    .feature-works__block
    {
        flex-direction: column;
        gap: 18px;
        
        box-sizing: border-box;
        padding-bottom: 1.2em;
        margin-bottom: 1.2em;
        margin-top: 0;
    }
    
    .feature-works__img
    {
        width: 33.9em;
        height: 23em;
    }
    
    .feature-works_headline
    {
        font-size: 2.4em;
        line-height: 3rem;
    }

    .blog
    {
        width: var(--page-responsive-width);
        margin: 0 auto;
        margin-top: 7.4em;
    }
    
    .blog__headline
    {
        font-size: 2.6em;
        line-height: 3.8rem;
    }
    
    /*Works*/
    .works
    {
        width: var(--page-responsive-width);
        margin-top: 7.4em;
    }
    
    .works__block
    {
        padding-bottom: 1.7rem;
        margin-top: 1.7rem;
    }
    
    /*Work detail*/
    .works-detail__tags--font
    {
        font-size: 1.8em
    }
    .works-detail
    {
        width: var(--page-responsive-width);
        margin-top: 8.2em;
    }
    
    .works-detail__banner
    {
        gap : 3rem;
        margin-bottom: 2.3rem;
    }
    
    .works-detail__title
    {
        font-size: 3em;
        line-height: 4rem;
    
        width:  100%;
    }
    
    .works-detail__img
    {
        width: 33.9em;
        height: 25.6em;
    }
    
    .works-detail__headline--font1
    {
        font-size: 2.6em;
    }
    .works-detail__headline--font2
    {
        font-size: 2em;
    }
    
    .works-detail__img--inner
    {
        margin: 3rem auto;
    }
    
    /* Footer*/
    .footer__content
    {
        margin: 20.1em auto 5.4em auto;
    }
    
}