html
{
    font-size: 62.5%;
}

*{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Heebo', sans-serif;

    margin : 0;
}

.container
{
    width: 85.8em;

    margin: 0 auto;
}

:root
{
    --text-color: #21243D;   
    --font-style: normal;
    --page-width: 68.1em;
    --page-responsive-width: 33.9em;
}

.description
{
    font-style: var(--font-style);
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1.5;

    color: var(---text-color);

    margin: 0;
}

.title
{
    font-style: var(--font-style);

    font-weight: 700;
    font-size: 4.4em;
    line-height: 6rem;

    color: var(---text-color);

    margin: 0;

    margin-bottom: 4rem;
}


.headline
{
    font-style: var(--font-style);
    font-weight: 400;
    font-size: 2.2em;
    line-height: 6rem;

    color: var(---text-color);

    margin: 0;
}

.tags--font
{
    font-style: var(--font-style);
    font-weight: 400;
    font-size: 2em;
    line-height: 2.9rem;
}

.tag--color
{
    color: #8695A4;
}

.line
{
    height: 2.1rem;
    border-right: 1px solid #000000;
}

.toggle-icon
{
    display: none;
}

.navbar
{
    position: fixed;
    top: 2.7em;
    right: 6em;

    z-index: 2;
}

.navbar__list
{
    display: flex;
    gap: 3.3em;
}

.navbar__link
{
    text-decoration: none;

    font-style: var(--font-style);
    font-weight: 500;
    font-size: 2.2em;
    line-height: 2.9rem;
    text-align: right;

    color: #000000;
}

.navbar__link:hover
{
    color: #FF6464;
    transition: 0.5s;
}


/* Home page*/

.banner__block
{
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

.banner
{
    margin-top: 21em;
}

.banner__content
{
    display: flex;
    gap: 10.6em;
}

.banner__link
{
    width: 20.8rem;
    height: 4.7rem;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    background: #FF6464;
    border-radius: 0.2rem;

    text-decoration: none;

    font-style: var(--font-style);
    font-weight: 500;
    font-size: 2em;
    line-height: 1.45;

    margin-top: 3.8rem;
}

.banner__img
{
    width: 24.3em;
    height: 24.3em;

    border-radius: 50%;

    object-fit: cover;
}

.recent-post
{
    margin-top: 7.1em;

    width: 100%;

    background: #EDF7FA;

    padding-bottom: 3.8em;
}

.recent-post__heading
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recent-post__link
{
    font-style: var(--font-style);
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1.5;
    text-align: right;

    color: #00A8CC;
}

.recent-post__content
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.recent-post__block
{
    width: 41.8em;
    height: 29.5em;

    background: #FFFFFF;
    border-radius: 0.4em;

    box-sizing: border-box;
    padding: 2.4em;
}

.recent-post__headline
{
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 3.8rem;
    margin-bottom: 1.7rem;
}

.recent-post__meta
{
    display: flex;

    font-style: var(--font-style);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.6rem;
    
    color: var(---text-color);  
    margin-bottom: 1.7rem;
}

.recent-post__date
{
    margin-right: 2.5rem;
}

.recent-post__tags
{
    margin-left: 2.5rem;
}

.feature-works
{
    margin-top: 1.5em;
}

.feature-works__block
{
    display: flex;
    align-items : start;
    justify-content: start;
    gap: 1.8em;
    
    border-bottom: 1px solid #E0E0E0;

    padding-bottom: 1.7em;
    margin-top: 3.2em;
}

.feature-works__img
{
    width: 24.6em;
    height: 18em;

    border-radius: 0.6em;
}

.feature-works__item
{
    display: flex;
    flex-direction: column;    
    gap: 2em;
}

.feature-works_headline
{
    font-weight: 700;
    font-size: 3em;
    line-height: 4.4rem;
}

.feature-works__meta
{
    display: flex;
    align-items: center;
    
    gap: 2.6em;
}

.feature-works__date
{
    width: 6.2rem;
    height: 2.5rem;

    box-sizing: border-box;

    background: #142850;
    border-radius: 1.6rem;
    padding-top: 0.2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-style: var(--font-style);
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 6rem;

    color: #FFFFFF;
}

.blog
{
    width: var(--page-width);
    margin: 0 auto;
    margin-top: 16em;
}

.blog__block
{
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 2.9em;
    margin-top: 3.2em;
}

.blog__link
{
    text-decoration: none;
}

.blog__headline
{
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.4rem;

    margin-bottom: 1.5rem;
}

.blog__meta
{
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
}

.blog__date
{
    padding-right: 2rem;
}

.blog__tags
{
    padding-left: 2rem;
    
    color: #8695A4;
}

/*Works*/
.works
{
    margin: 0 auto;
    width: var(--page-width);
    margin-top: 16em;
}

.works__title
{
    font-weight: 900;
}

.works__block
{
    box-sizing: border-box;
    padding-bottom: 4.8em;
    margin-top: 4.8em;
}

/*Work detail*/
.works-detail
{
    width: var(--page-width);
    margin: 0 auto;
    margin-top: 148px;
}

.works-detail__banner
{
    display: flex;
    flex-direction: column;
    gap : 3rem;
    margin-bottom: 5.4rem;
}

.works-detail__title
{
    font-style: var(--font-style);
    font-weight: 700;
    font-size: 3.4em;
    line-height: 5rem;

    color: var(---text-color);

    width:  70%;
    
    margin: 0;
}

.works-detail__meta
{
    display: flex;
    gap: 1.7rem;
}

.works-detail__date
{
    background: #FF7C7C;
}

.works-detail__img
{
    width: 68.1em;
    height: 46.8em;
}

.works-detail__headline
{
    font-style: var(--font-style);
    font-weight: 500;
    line-height: 6rem;
    color: var(---text-color);
}

.works-detail__headline--font1
{
    font-size: 3em;
}
.works-detail__headline--font2
{
    font-size: 2.4em;
}

.works-detail__img--inner
{
    margin: 3rem auto;
}

/* Footer*/
.footer__content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.6em;

    margin: 13.4em auto 5.4em auto;
}

.footer__list
{
    display: flex;
    gap: 3.5em;
    padding: 0;
    margin: 0;
}

.footer__descripton
{
    font-weight: 400;
    font-size: 1.4em;
    line-height: 2.1rem;

    margin: 0;
}